<footer>
  <div class="footer-card-container">
    <div class="footer-item">
      <h3>ABOUT US</h3>
      <p>
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
    </div>
    <div class="footer-item">
      <h3>RECENT BLOG</h3>
      <!-- Cards -->
    </div>
    <div class="footer-item">
      <h3>SERVICES</h3>
      <ul class="services-links-container">
        <li>Cooked</li>
        <li>Deliver</li>
        <li>Quality Foods</li>
        <li>Mixed</li>
      </ul>
    </div>
    <div class="footer-item">
      <h3>HAVE A QUESTIONS?</h3>
      <div class="info-item">
        <img src="" alt="">
        <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
      </div>
      <div class="info-item">
        <img src="" alt="">
        <span>+2 392 3929 210</span>
      </div>
      <div class="info-item">
        <img src="" alt="">
        <span>info@yourdomain.com</span>
      </div>
    </div>
  </div>
</footer>
