section {
	background: url(../../../assets/images/background-brown-carpentry-326311.jpg);
    background-size: cover;
    width: 100%;
	height: 100vh;

	.carousel-container {
		width: 300%;
		height: 100vh;
		display: flex;
		flex-direction: row;

		.carousel-item {
			width: 100%;
			height: 100vh;
			background-color: #b537b71a;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 40px;
			color: red;
			border: 1px solid;
		}
	}
}
